* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}
.App,
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 450px;
  margin: auto;
  margin-top: 7%;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 35px 55px 35px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}
.sample-color {
  background-color: rgba(1, 1, 26, 0.5);
}
.form-color {
  background-color: rgba(1, 1, 26, 0.5);
  color: white;
}
.submit-btn {
  background-color: rgba(1, 1, 26, 0.8);
  color: white;
}
.submit-btn:hover {
  background-color: rgba(1, 1, 26, 1);
}
.nav-link:hover {
  border-bottom: 1px solid white;
}
footer {
  background-color: rgba(1, 1, 26, 0.5);
  color: white;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
